.brand {		
	//PARALAX EFFECT
	width: 100%;
	position: fixed;
	z-index: -1;
	top: 80px;
	//PARALAX EFFECT END

	height: 950px;
	background-color: $cor2;

	@media only screen and (min-width: 1200px) {
		
	}	

	@media only screen and (max-width: 992px) {
		height: 750px;
	}

	@media only screen and (max-width: 480px) {
		height: auto;
	}


	h1 {
		height: auto;
	}	

	.background {
		height: 750px;
		background: $cor2 url('/img/mouse.png');
		background-position: center;		
		background-repeat: no-repeat;
		background-size: auto 725px;

		@media only screen and (max-width: 992px) { 
			height: 500px;
			background-size: auto 500px;
		}

		@media only screen and (max-width: 468px) { 
			height: 300px;
			background-size: auto 100%;
		}

		.logo {
		    display: block;
   			margin: 146px auto;
		    height: 445px;

		    @media only screen and (max-width: 992px) { 
				margin: 95px auto;
   				height: 300px;
			}

			@media only screen and (max-width: 600px) { 
			   	width: 100%;
    			height: auto;
			}

			@media only screen and (max-width: 468px) { 
		   		width: auto;
   				height: 165px;
    			margin-top: 65px;
			}

			@media only screen and (max-width: 330px) { 
		   		width: 100%;
   				height: auto;
    			margin-top: 65px;
			}		        
		}//END LOGO
	}//END .BACKGROUND

	

}//END SECTION

.welcome {
		margin-top: 850px;
		$height: 200px;
		height: $height;
		background-color: $cor3;

		@media only screen and (max-width: 992px) { 
		    height: 250px;		    
		}

		@media only screen and (max-width: 480px) {
			height: auto;
		}	

		div {
			padding-top: 75px;

			@media only screen and (max-width: 480px) {
				height: auto; 
				font-size: 16px;
			    padding-bottom: $height/4;
			}

			p {
				line-height: 30px;
				text-align: center;
				font-size: 18px;
				@extend %defaultFont;

				@media only screen and (max-width: 480px) { 
									    
				}

				span {
					font-weight: 700;
				}
			}
		}
	}