.exp {
	height: 250px;
	background-color: $cor1;

	@media only screen and (max-width: 768px) {
		height: auto;
	}
}

.exp-title {
	@extend %titles-divs;
}

.exp-content {
	p {
		text-align: center;
		@extend %defaultFont;
	    line-height: 25px;
        margin-top: 50px;
        margin-bottom: 50px;

    	span {
    		margin-right: 8px;
	    }
	}
}

.box-outside {
	position: absolute;
	bottom: 0;
    left: 12.5%;
    bottom: -33px;
    height: 100px;
    width: 75%;
    border: 1px solid $cor4;
    box-shadow: 0px -6px 70px rgba(255, 255, 255, 0.4);

    @media only screen and (max-width: 1200px) {
		bottom: 0px;
	}

	@media only screen and (max-width: 768px) {
		bottom: -35px;
		left: 30%;
		width: 40%;
	}

	@media only screen and (max-width: 600px) {
		left: 25%;
		width: 50%;
	}

	@media only screen and (max-width: 468px) {
		left: 15%;
		width: 70%;
	}
}

.box-content {
    position: relative;
    height: 86px;
    margin: 6px;
    background-color: $cor4;


    p {
    	@extend %defaultFont;
    	text-align: center;
    	color: #e5e5e5;
	    font-size: 12px;
	    padding: 15px;
	    line-height: 18px;
    }
}