.contact {
	height: 720px;
	width: 100%;
	background: transparent url('/img/landscape-rj.png');
    position: relative;
}

.contact-me {
	overflow: hidden;
	position: absolute;
    right: 24%;
    top: 42%;
    height: 100px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 3px solid #ce9671;
    text-transform: uppercase;
    @extend %defaultFont;
    color: white;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    box-shadow: -2px 5px 45px #362f2d;
    transition: all 1s;

    @media only screen and (max-width: 600px) {
        width: 80%;
        right: 10%;
    }

    &:hover {
    	width: 400px;
    	background-color: #ce9671;
    	transition: all 1s;
    }
}

.social-medias {
	width: 100%;
	position: absolute;
	bottom: 0;
	height: 100px;
	background-color: rgba(165, 113, 80, 0.43);
	line-height: 122px;

	div {
		height: 100px;
		ul{
			overflow: hidden;
    		height: 80px;
		    width: 200px;

            @media only screen and (max-width: 1200px) { 
            }


			li{
				display: inline-block;
				margin: 0 20px;
			}
		}
	}
}

.social-icon {
	color: white;
	font-size: 50px;
    transition: color 0.6s;

    &:hover {
        color: #eaa25d;
        transition: color 0.6s;
    }
}

.contact-button {
    top: 8% !important;
    height: 500px !important;
    width: 80% !important;
    right: 10% !important;
    background-color: rgba(0, 0, 0, 0.55) !important;
    transition: all 1.2s !important;
}

.button-email {
    font-size: 24px;
    color: #ce7d34;

    @media only screen and (max-width: 620px) { 
        font-size: 13px;
    }

    @media only screen and (max-width: 380px) { 
        font-size: 10px;
    }

    
}

.button-hr {
	width: 470px;
    border: 2px solid #5a5d6;
}

.button-tel {
    font-size: 26px;
    letter-spacing: 6px;

    @media only screen and (max-width: 620px) { 
        font-size: 18px;
    }
}